.modoOscuro,
.modoOscuro .vistaSMTP {
     -fx-background-color: #333333; 
  
}

.modoOscuro .label {
   /*-fx-text-fill: #000000; */
   
   -fx-text-fill: #ffffff;
   
   /*-fx-color: #ffffff; */
   }

.modoOscuro .check-box{
	
	-fx-text-fill: #ffffff;
	/*-fx-background-color: #000000;*/ 
	
	
}

.modoOscuro .button {
   /* -fx-text-fill: #000000;*/
   -fx-text-fill: #fff; 
    -fx-background-color: #555555;
}


.modoOscuro .button:default {
   /* -fx-background-color: #aaaaaa; */
    -fx-background-color:#fff;
    -fx-text-fill: #000;
}

.modoOscuro .text-field,
.modoOscuro .password-field,
.modoOscuro .text-area {
    -fx-text-fill: #fff;
    
    
}
.modoOscuro .text-area {
    /*-fx-control-inner-background: #555555;*/
    -fx-control-inner-background: #000;
}
.modoOscuro .slider {
    -fx-control-inner-background: #555555;
    -fx-accent: #ffffff;
}

.modoOscuro .text-field {
    -fx-background-color: #000000;
}
.modoOscuro .choice-box, .modoOscuro .choice-box .context-menu{
	 -fx-background-color: #000000;
}

.modoOscuro  #smtpVista{
	-fx-background-color: #000000;
	
}

#smtpVista .tab-label{
	-fx-text-fill: #31F205;
}

#gmailVista .tab-label{
	  -fx-text-fill: #ff0000;
	 
}